@font-face {
  font-family: 'PatrickHandSC'; /*a name to be used later*/
  src: url('../fonts/PatrickHandSC-Regular.ttf'); /*URL to font*/
}

body, html{
  height:100%;
  margin:0;
  font-size:20px;
  font-family: 'PatrickHandSC';
  font-weight:400;
  line-height:1.8em;
  color:#666;
  
}

.title {
  font-family: 'PatrickHandSC';
  opacity:0.70;
  background-color:#fff9f0;
  background-size:cover;
  background-repeat:no-repeat;
  min-height:100%;
}

#titletext {
  position:absolute;
  top:30%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:90px;
  letter-spacing:6px;
  text-transform:uppercase;
}

#titletext p{
  position:absolute;
  top:30%;
  width:100%;
  text-align:center;
  color:rgb(208, 27, 27);
  font-size:30px;
  letter-spacing:4px;
  text-transform:uppercase;
}

figure {
  display: inline-block;
  border: 1px dotted gray;
  margin: 2px; /* adjust as needed */
}
figure img {
  width: 300px;
  vertical-align: top;
}
figure figcaption {
  border: 1px dotted blue;
  text-align: center;
}


.row {
  padding-top: 10px;
  text-align: center;
}
.column img{
  min-width: 10%;
  width: 20%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#button1 {
  width: 150px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
#button1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(62, 197, 255);
  border-radius: 10rem;
  z-index: -2;
}
#button1:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(16, 160, 221);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
#button1:hover {
  color: #fff;
}
#button1:hover:before {
  width: 100%;
}


.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/image2.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('../img/image2.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../img/image3.jpg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:10px 80px;
}

.section-beige{
  background-color:#282e34;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}
